@model Indicadores.Models.Posvalor

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Posvalor</h2>

<h3>Esta seguro/a que desea eliminar este Posvalor?</h3>
<div>
    <h4>Posvalor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPosvalor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPosvalor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SiglasMet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiglasMet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiglasPos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiglasPos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomPosvalor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomPosvalor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescPosvalor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescPosvalor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
